# This is Git's per-user configuration file.
[user]
	name = Drew Killion
	email = adk@killion.me
[core]
	longpaths = true
	editor = code --wait
[fetch]
	prune = true
[alias]
	hist = log --pretty=format:'%Cgreen%h%Cblue %ad %Cred%<(16)%an %Creset| %<(70,trunc)%s' --graph --date=short --max-count=25
	st = status
	ci = commit -m
	dumb = help
	co = checkout
	br = branch
	d = diff
	new = checkout -b
	up = push -u origin HEAD
	ac = !git add -A && git commit -m
  amend = commit --amend --no-edit

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only

[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[init]
	defaultBranch = main
[safe]
	directory = D:/Code